In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Sechura,PE,80.42,overcast clouds,-5.5569,-80.8222,Hospedaje Costa Bella
1,3,Cockburn Town,TC,78.76,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
2,4,Vaini,TO,80.33,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
3,14,Saint-Philippe,RE,80.15,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,16,Luanda,AO,77.11,broken clouds,-8.8368,13.2343,EPIC SANA Luanda

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(15.0, 16.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Ridgecrest']
vacation_end = vacation_df.loc[vacation_df['City']=='Ridgecrest']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Rosarito']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='San Clemente'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='La Palma']

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start["Lng"].values[0]
end = vacation_end['Lat'].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3["Lng"].values[0]

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2, stop3],
    travel_mode='BICYCLING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,515,Ridgecrest,US,76.64,overcast clouds,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
1,239,Rosarito,MX,82.63,clear sky,32.3333,-117.0333,Hotel Festival Plaza Rosarito
2,326,San Clemente,US,85.26,few clouds,33.4270,-117.6120,Casablanca Inn
3,523,La Palma,US,85.95,few clouds,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
4,515,Ridgecrest,US,76.64,overcast clouds,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))